/*Style for about Us*/
/* First/Story section */
#story{
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}

/* Second/Awards section */
#awards{
    margin-left: 10%;
    width: 80%;
    font-family: 'Inter', sans-serif;
}

/* This is to format sections in awards and story */
.container{
    background-color: rgb(255, 215, 0);
    border-radius: 10px;
}

.container p{
    text-align: center;
    width: 800px;
    padding-left: 10%;

}

.container h3{
    text-align: end;
    padding-right: 10px;
}

/* Media query for mobile L (425px width) */
@media screen and (max-width:425px){
    #story{
        width: auto;
    }

    .container p{
        width: auto;
        padding: 10px;
    }
}