/* Style for all pages */
header{
    display: flex;
    background-color:#793D00;
}

header img{
    max-width: 100%;
    width: 100px;
    padding-left: 25px;
    display: block;
}

header div{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#welcome{
    justify-content: center;
    padding-right: 40px;
}

nav{
    display: flex;
    background-color:  #9D642A;
    font-size: larger;
    border: 1px solid black;
    position: sticky;
    top: 0px;
    z-index: 1;
}

nav a{  
    flex-grow: 1;
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: larger;
    border: 1px solid black;
}

nav a:hover{
    background-color: black;
}

footer{
    display: flex;
    background-color: lightgray;
    font-family: 'Inter', sans-serif;
}

footer section{
    flex-grow: 1;
    border: 1px solid black;
    text-align: center;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

footer a{
    text-decoration: none;
}

/*Media Query max width 425px Mobile L */ 
@media screen and (max-width:425px){
    
    header img{
        padding: 0;
    }
    
    #welcome{
        padding: 0;
        font-size: 80%;
        text-align: center;
    } 

    #welcome h1{
        margin: 0;
    }

    nav a{
        font-size: medium;
    }
    
    
    footer{
        height: 80px;
    }

    footer section{
        font-size: xx-small;
        padding-bottom: 0px;
    }

    footer input{
        font-size: 10px;
    }
}